:root{
  --ion-color-white: #ffffff;
  --ion-color-black: #000000;

  --ion-color-primary: #2f3640;
  --ion-color-primary-shade: #293038;
  --ion-color-primary-tint: #444a53;

  --ion-color-secondary: #2980b9;
  --ion-color-secondary-shade: #2471a3;
  --ion-color-secondary-tint: #3e8dc0;

  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;

  --ion-color-success: #2ecc71;
  --ion-color-success-shade: #28b463;
  --ion-color-success-tint: #43d17f;

  --ion-color-warning: #f39c12;
  --ion-color-warning-shade: #d68910;
  --ion-color-warning-tint: #f4a62a;

  --ion-color-danger: #e74c3c;
  --ion-color-danger-shade: #cb4335;
  --ion-color-danger-tint: #e95e50;

  --ion-color-dark: #222428;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  --ion-color-medium: #92949c;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  --ion-color-light: #ecf0f1;
  --ion-color-light-shade: #d0d3d4;
  --ion-color-light-tint: #eef2f2;
}
